.filtros-container .form-control,
.filtros-container .form-select,
.filtros-container .form-check {
  width: 100%;
}

.filtros-container .filtro-envio-check {
  margin-left: 10px;
  font-weight: bold;
  color: #6b5b95; /* Lila pastel */
}

.filtros-container .filtro-envio-check input {
  accent-color: #c3aed6; /* Color del check en lila pastel */
}
