/* Estilo para los elementos del InputGroup */
.mb-3 .form-select,
.mb-3 .form-control {
    margin-right: 10px; /* Ajusta este valor según sea necesario */
}

/* Opcional: Evitar margen en el último elemento */
.mb-3 .form-select:last-child,
.mb-3 .form-control:last-child {
    margin-right: 0; /* Elimina el margen en el último elemento */
}
/* Alinear los filtros correctamente */
.filtros-input-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Opcional: Estilo personalizado para select y buscador */
.filtro-select,
.filtro-busqueda,
.filtro-orden {
    max-width: 200px;
}

/* Estilo del checkbox de Envío Gratis */
.filtro-envio-check {
    margin-top: 8px;
    margin-left: 10px;
    font-weight: bold;
    color: #6b5b95; /* Lila pastel */
}

.filtro-envio-check input {
    accent-color: #c3aed6; /* Color del check en lila pastel */
}
