.col-card {
    margin: 0 15px; /* Márgenes en los costados */
    margin-bottom: 20px;
}

.card-body {
    text-align: center; /* Centra el texto dentro del Card.Body */
}

.card-title,
.card-text,
.btn {
    margin: 0 auto; /* Asegura que los elementos se alineen al centro */
}